<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminDoctorMapper">

	<select id="doctorCount" parameterType="com.yh.apoplexy.assist.dmo.common.DoctorInfoDmo"
		resultType="long">
		select count(*) 
		from
		(
		select 
		*
		from
		t_doctor_info doctor_info
		<where>
			<if test="doctorName!=null">
				and doctor_name=#{doctorName}
			</if>
			<if test="hospital!=null">
				and hospital=#{hospital}
			</if>
			<if test="status!=null">
				and status=#{status}
			</if>
		</where>
		)doctor_info
		left join t_hospital_info hospital on hospital.name = doctor_info.hospital
		order by doctor_info.id desc
	</select>


	<select id="doctorList" parameterType="com.yh.apoplexy.assist.dmo.common.DoctorInfoDmo"
		resultType="com.yh.apoplexy.assist.dto.admin.common.AdminDoctorInfoDto">
		select
		doctor_info.id as id,
		doctor_info.doctor_name as doctorName,
		doctor_info.hospital as hospital,
		doctor_info.department as department,
		doctor_info.title as title,
		doctor_info.job as job,
		doctor_info.sex as sex,
		doctor_info.phone as phone,
		doctor_info.email as email,
		doctor_info.effective_time as effectiveTime,
        doctor_info.avatar as avatar,
        hospital.id as hospitalId
		from
		(
		select 
		*
		from
		t_doctor_info doctor_info
		<where>
			<if test="doctorName!=null">
				and doctor_name=#{doctorName}
			</if>
			<if test="hospital!=null">
				and hospital=#{hospital}
			</if>
			<if test="status!=null">
				and status=#{status}
			</if>
		</where>
		)doctor_info
		left join t_hospital_info hospital on hospital.name = doctor_info.hospital
		order by doctor_info.id desc
	</select>


	<select id="addDoctorInsert"
		parameterType="com.yh.apoplexy.assist.dto.admin.base.AdminImportDoctorListDto"
		resultType="long">
		INSERT INTO
		t_doctor_info(doctor_name,sex,hospital,department,title,job,effective_time,phone,create_time,last_update_time,status)
		VALUES
		<foreach item="item" collection="doctorList" separator=","
			index="index">
			(#{item.doctorName},#{item.sex},#{item.hospital},#{item.department},#{item.title},#{item.job},#{item.effectiveTime},#{item.phone},#{item.createTime},#{item.lastUpdateTime},#{item.status})
		</foreach>


	</select>

</mapper>